*{
    margin: 0;
    padding: 0;
}
  body {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    /* background-color: #a2b3c7; */
    background-color: black;
    color: white;
    font-family: cursive;
  }
  
  /* Header */
  nav {
    background-color: rgb(0, 255, 174);
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-transform: uppercase;
  }
  nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    list-style-type: none;
  }
  .logo {
    font-size: 25px;
    font-weight: bold;
    color: white;
  }
  li {
    padding: 0 10px;
    font-weight: medium;
    font-size: 16px;
    color: white;
  }
  /*Homepage*/
  .main {
    margin-top: 120px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 60%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  a {
    text-decoration: none;
    color: white;
  }
  strong {
    font-family: cursive;
    font-size: 25px;
    margin-bottom: 20px;
  }
  main .profile img {
    border-radius: 50%;
    margin: 15px;
  }
  p {
    padding-bottom: 5px;
    text-align: justify;
  }
  
  /* work */
  .work {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #work {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .card {
    height: 250px;
    width: 250px;
    background-color: rgb(0, 255, 174);
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center
  }
  
  .card img {
    margin: 4px;
    height: 200px;
    width: 200px;
  }

  /* about */
  .about{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
  }

#about{
    width: 60%;   
    text-align: justify;
}
#about h3{
    text-align: center;
}
h3{
    text-transform: uppercase;
}

/* blog */
.blog{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
}
#blog{
    width: 60%;
}


/* contact */
.contact-container{
  display: flex;
  justify-content: center;
}

#contact{
  display: flex;
    justify-content: space-between;
    /* align-items: center; */
    justify-items: center;
    text-align: center;
    margin-bottom: 50px;
    font-size: 18px;
    flex-direction: column;
  width: 60%;
}

#contact .container{
    display: flex;
    text-align: start;
    justify-content: center;
    gap: 20;
    width: 100%;
}

.left , .right{
  flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 2px;
}
label{
    text-transform: capitalize;
}
input , textarea{
    /* background-color: grey; */
background-color: transparent;
    border: 0px solid;
    border-bottom: 1px solid grey;
    outline: none;
}
input:focus , textarea:focus{
  color: azure;
}
button{
  background-color:rgb(0, 255, 174);
  border-radius: 2px;
  width: 70px;
  height: 30px;
  border: none;
}

textarea{
  margin-bottom: 10px;
}


.footer{
    height: 50px;
    
    display: flex;
}
footer{
    bottom: 0;
    position: fixed;
    background-color: rgb(0, 255, 174);
    width: 100%;
}
footer ul{
    display: flex;
    float: right;
    gap: 20px;
    margin-right: 20px;
}
.foo-cont{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 28px;
}


.foo-left, .foo-right{
    margin-left: 20px;
    margin-right: 20px;
}

  /* Media query for smaller screens (e.g., smartphones) */
  @media (max-width: 768px) {
    .logo {
      font-size: 20px; /* Adjust for smaller screens */
    }
  
    li {
      font-size: 14px; /* Adjust for smaller screens */
    }
    #work {
      flex-wrap: wrap;
    }
    .foo-cont{
      justify-content: space-between;
      
    }
  }
